.divGeral {
    display: flex;
    /*overflow-y: auto;
    max-height: 500px;*/
}

.divConteudo {
    display: flex;
    width: auto;
    overflow-x: auto;
}

.divHora {
    min-width: 80px;
    border-right: 1px solid rgba(200,200,200,1);
}

.divAgenda {
    width: 223px;
    border-right: 1px solid rgba(200,200,200,1);
}

.divHora,
.divAgenda {
    list-style-type: none;
    text-align: right;
    padding-left: 0px;
}

    .divHora > li,
    .divAgenda > li {
        height: 240px;
        padding-right: 5px;
        font-size: 27px;
        color: cornflowerblue;
    }

.divTituloMarg {
    display: flex;
}

.divTituloMargConteudo {
    display: flex;
    width: auto;
    overflow-y: auto;
    overflow: hidden;
}

.divTituloMarg {
    min-width: 80px;
}

.divTitulo {
    text-align: center;
    min-width: 223px;
    font-size: 27px;
    border-bottom: 1px solid #BF2C12;
}

.divImagem {
    display: inline-block;
}

.imagemSeta {
    width: 10px;
    height: 5px;
    margin-top: 39px;
    margin-left: 71px;
    /*position: fixed;*/
}

.divAula {
    text-align: left;
    /*margin-top: 220px;*/
    display: inline-block;
}

.divAulaImagem {
    width: 10px;
    font-size: 14px;
    float: left;
    margin-left: -7px;
    color: black;
}

.divAulaHorario {
    width: 202px;
    font-size: 14px;
    float: left;
    margin-left: 7px;
    color: gray;
}

.divAulaTexto {
    width: 221px;
    font-size: 16px;
    float: left;
    padding-left: 10px;
    color: cornflowerblue;
}

.divAulaProfessor {
    width: 221px;
    font-size: 14px;
    float: left;
    padding-left: 10px;
    color: rgba(200,200,200,1);
}
